@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDFFFF;
  --foreground: #1D1D1D;
  
  /* --background: #0E0E0E;
  --foreground: #E2E2E2; */

  --font-nunito: 'Nunito', sans-serif;
  --font-quicksand: 'Quicksand', sans-serif;
  --font-lato: 'lato', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0E0E0E;
    --foreground: #E2E2E2;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: var(--font-quicksand); */
  font-family: var(--font-lato);
}


/* h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-nunito);
} */
